.footer {
  background: #0f172a;
  color: #fff;
  padding: 30px 20px;
}

/* MAIN LAYOUT */
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.left {
  max-width: 400px;
}

.left h3 {
  margin-bottom: 10px;
}

.left p {
  margin: 5px 0;
  font-size: 14px;
}

/* RIGHT SIDE */
.right {
  text-align: right;
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.socials a {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.socials a:hover {
  color: #22c55e;
}

/* MOBILE */
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    gap: 20px;
  }

  .right {
    text-align: left;
  }

  .socials {
    justify-content: flex-start;
  }
  .footer a {
  color: inherit;        /* same as text color */
  text-decoration: none; /* remove underline */
}

.footer a:hover {
  color: #22c55e;        /* optional hover effect */
}
}