.card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 12px;
}

.price {
  color: #22c55e;
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.selectBtn {
  background: #e5e7eb;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
}

.selected {
  background: #22c55e;
  color: white;
}

.buyBtn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
}